<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      Fill with useful information once system is complete.
    </p>
    <h2>Changes</h2>
    <ul>
      <li><strong>19/05/2020:</strong>
          Loss of code, recovering from last commit (Apr 29)
      </li>
      <li><strong>20/05/2020:</strong>
          Removed user gravatars | Added user validation for Gender, DoB and Default Bowtype fields | Added score logic  
      </li>
      <li><strong>21/05/2020:</strong>
          Adding score interface  
      </li>
      <li><strong>25/05/2020:</strong>
          Score chart and form finished. Current classifications and handicaps next.  
      </li>
      <li><strong>26/05/2020:</strong>
          Current classifications and handicaps finished. 
      </li>
      <li><strong>29/05/2020:</strong>
          Recalculate HC and Class when deleting scores (In production, only scores which have been validated will be used in the calculation). 
      </li>
    </ul>
    
    <h2>Known Issues</h2>
    <ul>
      <li>Colour issues - PB! badge on outdoor compound, UKRS badge on indoor barebow, WRS on indoor longbow</li>
      <li>Users should not be able to change their DoB or Gender.</li>
    </ul>