<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      Fill with useful information once system is complete.
    </p>
    <h2>Changes</h2>
    <ul>
      <li><strong>19/05/2020:</strong>
          Loss of code, recovering from last commit (Apr 29)
      </li>
      <li><strong>20/05/2020:</strong>
          Removed user gravatars | Added user validation for Gender, DoB and Default Bowtype fields | Added score logic  
      </li>
      <li><strong>21/05/2020:</strong>
          Adding score interface  
      </li>
      <li><strong>22/05/2020:</strong>
          Adding score interface  
      </li>
    </ul>
