<em>Scores below shown in bold with a blue background e.g. <span class="eg1">500</span> or <span class="eg2">600</span> 
meet the requirements for gaining the classification. Although scores which are <strong>not</strong> highlighted and in bold meet the average 
handicap required for a classification, the classification <strong>cannot</strong> be awarded on that round.</em>