@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:		border-box;
  -webkit-box-sizing:	border-box;
  box-sizing:			border-box;
}

/* universal */

body {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  padding-top: 60px;
}

@media print {
  body{
    padding-top: 0px !important;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input[type="date"] {
  line-height: initial !important;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* accordion with toggle icons */

.panel-group .panel {
  border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 14px;
}

.scores {
  padding-inline-start: 0px;
}

.well {
  margin-bottom: 0px;
  margin-top: 2px;
}

.outdoor-barebow{background-color: #00BCD4 !important}
.indoor-barebow{background-color: #5C6BC0 !important}
.outdoor-compound{background-color: #CDDC39 !important}
.indoor-compound{background-color: #66BB6A !important}
.outdoor-longbow{background-color: #FFC107 !important}
.indoor-longbow{background-color: #8D6E63 !important}
.outdoor-recurve{background-color: #FF9800 !important}
.indoor-recurve{background-color: #EF5350 !important}

.score-image {
  margin-top: 10px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-title > a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}
  
.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section.user_infor {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
	margin-top: 20px;
	&:first-child {
	  border: 0;
	  padding-top: 0;
	}
	span {
	  display: block;
	  margin-bottom: 3px;
	  line-height: 1;
	}
	h1 {
	  font-size: 1.4em;
	  text-align: left;
	  letter-spacing: -1px;
	  margin-bottom: 3px;
	  margin-top: 0px;
	}
  }
}

.gravatar {
  float: right;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* Users index */

.users, .rounds, .categories{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
  }
}

/* forms */

.input-group{
  margin-bottom: 10px;
  width: 100%;
  .input-group-addon {
    min-width: 80px;
    text-align: right;
  }
}  

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="radio"] {
  width: auto;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.checkbox {
  margin-top: 	-10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
	font-weight: normal;
  }
}

/* tables */

table {
  width: 100%; 
  border-color: black 2px;
  th.classification:first-child::before {
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    height: 100%;
  }
  th {
    background-color: #CCC !important;
  }
  th, td {
    text-align: center;
    padding: 5px;
    border: black 2px;
  }
  td.bold {font-weight: bold;}
  tr:nth-child(even) {
    background: $gray-lighter;
    td.bold {background: skyblue;}
  }
  tr:nth-child(odd) {
    background: #FFF;
    td.bold {background: lightblue;}
  }
}

.eg1, .eg2{
  padding: 3px 10px;
  font-weight: bold;
  font-style: normal;
}
.eg1 {background: lightblue;}
.eg2 {background: skyblue;}

table.scoresheet_head {
  thead {
    border: solid black 2px; 
    border-bottom: none;
    tr:first-child {
      border-bottom: solid black 2px;
    }
    th:nth-child(even) {
      border-right: solid black 2px;
      text-align: left;
      padding-left: 5px;
      max-width: 1px;
      background-color: #FFF !important;
    }
    th:last-child {
      border-right: none;
    }
    th:nth-child(odd) {
      text-align: right;
      width: 1%;
      background-color: $gray-medium-light !important;
    }
    th.bowtype {
      span {
        padding: 0px 6.25%;
      }
      text-align: center;
    }
  }
}

table.scoresheet {
  margin-bottom: 10px;
  td, th {
    border: solid black 2px;
  }
  tbody tr {
    background-color: white;
  }
  .arrow_value, .judges {
    min-width: 2em;
    height: 30px;
  }
  .end_total, .doz_hits, .doz_golds, .doz_xs {
    min-width: 2.5em;
    height: 30px;
  }
  .doz_score, .running_total {
    min-width: 3em;
    height: 30px;
  }
  .blanked_out {
    background-color: #555 !important;
  }
  .judges {
    background-color: #AAA !important;
  }
  .signature {
    text-align: left;
    height: 50px;
    vertical-align: top;
  }
}
table.scoresheet:last-child {
  margin-bottom: 0px;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear:		both;
  float:		left;
  width:		100%;
  margin-top:	45px;
  @include box_sizing;
}