<% provide(:title, 'All categories') %>
<h1>All Categories</h1>
<div class="row">
  <% bows_hash = {"Recurve Bows" => "Recurve", "Compound Bows" => "Compound", "Longbows" => "Longbow", "Barebows" => "Barebow"} %>
  <% bows_hash.each do |label, bowtype| %>
    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <%= label %>
        </a>
        <% @categories.where(bowtype: bowtype).each do |category| %>
          <%= render category %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
