<footer class="footer">
  <small>
    <a href="https://www.artemis-archery.com/">Artemis Scoring System</a>
    by <a href="https://www.emlynjones.uk">Emlyn Jones</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.artemis-archery.com">News</a></li>
    </ul>
  </nav>
</footer>